@font-face {
  font-family: 'gagalinregular';
  src: url("../../fonts/gagalin-regular-webfont.woff2") format("woff2"), url("../../fonts/gagalin-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'lifehackmedium';
  src: url("../../fonts/lifehack_medium-webfont.woff2") format("woff2"), url("../../fonts/lifehack_medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ubuntubold';
  src: url("../../fonts/ubuntu-b-webfont.woff2") format("woff2"), url("../../fonts/ubuntu-b-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ubuntulight';
  src: url("../../fonts/ubuntu-light-webfont.woff2") format("woff2"), url("../../fonts/ubuntu-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ubuntumedium';
  src: url("../../fonts/ubuntu-medium-webfont.woff2") format("woff2"), url("../../fonts/ubuntu-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ubunturegular';
  src: url("../../fonts/ubuntu-regular-webfont.woff2") format("woff2"), url("../../fonts/ubuntu-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
  line-height: 1.42;
  color: #2f3234;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body, html {
  height: 100%; }

ul {
  padding: 0;
  margin: 0;
  list-style: none; }

.visibilityhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.wrapper {
  height: 100%;
  width: 100%;
  position: relative;
  min-height: 0; }

.maincontent {
  height: 100%;
  min-height: 650px; }

.container {
  width: 940px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.section {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.31);
  min-width: 940px;
  min-height: 650px; }

.order-link {
  min-width: 6.125rem;
  padding: 10px 17px;
  border-radius: 5px;
  background-color: #e25028;
  text-decoration: none;
  font-family: 'ubuntumedium';
  color: #ffffff;
  font-size: 13px;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }
  .order-link:hover {
    background-color: #bd3d1a; }

.vertical-nav__list {
  position: fixed;
  right: 70px;
  top: 95px; }

.vertical-nav__link {
  margin-bottom: 5px;
  display: block;
  content: '';
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background-color: transparent;
  border: 1px solid transparent;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }
  .vertical-nav__link:hover {
    border: 1px solid #ffffff; }
  .vertical-nav__link:after {
    display: block;
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 2.5px;
    background-color: #ffffff;
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .vertical-nav__link.vertical-nav__link_active {
    border: 1px solid #ffffff; }

.welcome {
  background-image: url("/img/content/welcome/video-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  position: relative; }

.header {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 10px; }

.header__logo {
  margin-right: auto; }

.nav {
  margin-right: 0.9375rem; }

.nav__list {
  margin: 0;
  padding: 0; }

.navigation__item {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap; }
  .navigation__item:after {
    display: inline-block;
    vertical-align: middle;
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 2.5px;
    background-color: #ffffff;
    margin: 0 12px; }
  .navigation__item:last-child:after {
    display: none; }

.navigation__link {
  font-family: 'ubuntumedium';
  color: #ffffff;
  font-size: 13px;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }
  .navigation__link:hover {
    text-decoration: underline; }

.welcome__container {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.welcome__content {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 15%; }

.main-foto, .welcome__title {
  -webkit-flex-basis: 50%;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.welcome__title {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.main-title {
  font-family: 'gagalinregular';
  color: #f9b43b;
  font-size: 72px;
  margin: 0;
  padding-top: 60px; }

.sub-title {
  font-family: 'lifehackmedium';
  color: #ffffff;
  font-size: 65px;
  line-height: 1; }

.transition__link {
  width: 30px;
  height: 15px;
  position: absolute;
  bottom: 40px; }

.best {
  background-image: url("/img/content/best/bg.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.main-title_black {
  color: #2f3234;
  padding: 0;
  margin-bottom: 3.75rem; }

.best__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.best__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-basis: 33%;
  -ms-flex-preferred-size: 33%;
  flex-basis: 33%; }

.best__item-pic {
  height: 90px; }

.best__item-title {
  font-family: 'lifehackmedium';
  color: #2f3234;
  font-size: 24.1px;
  margin-top: 35px;
  margin-bottom: 15px;
  text-align: center; }

.best__item-desc {
  font-family: 'ubuntulight';
  color: #2f3234;
  font-size: 14px;
  line-height: 1.62;
  text-align: center; }

.comments__list {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.comments__item {
  width: 25%;
  height: 50%;
  position: relative; }

.comments__img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-filter: brightness(100%) grayscale(1);
  filter: brightness(100%) grayscale(1); }

.comments__overlay {
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0; }

/* .comments__overlay {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #454545;
    opacity: 0;
} */
.comments__name {
  font-family: 'gagalinregular';
  color: #ffffff;
  font-size: 14px;
  margin-bottom: 30px; }

.comments__desc {
  font-family: 'ubuntulight';
  color: #ffffff;
  font-size: 14px;
  line-height: 1.7;
  width: 225px;
  margin-bottom: 15px; }

.comments__button {
  font-family: 'ubuntumedium';
  color: #ffffff;
  font-size: 13px;
  background: #2f3234;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid transparent; }

.comments__button:hover {
  border: 1px solid #656667;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }

.comments__item:hover .comments__img {
  -webkit-filter: brightness(40%) grayscale(1);
  filter: brightness(40%) grayscale(1); }

.comments__item:hover .comments__overlay {
  visibility: visible;
  opacity: 1;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }

/* .comments__overlay:hover {
    opacity: .7;
} */
.team {
  background-image: url("/img/content/team/team_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover; }

.contacts {
  background-image: url("/img/content/contacts/mapspb.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }

.form {
  background-image: url("/img/content/form/form_bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }

.menu {
  background-image: url("/img/content/menu/menu_bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }

.menu-accordion__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.menu-accordion__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 10%;
  height: 100%;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  -webkit-transition: 1.5s;
  -o-transition: 1.5s;
  transition: 1.5s; }
  .menu-accordion__item:hover {
    width: 40%;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s; }

.menu-accordion__img {
  height: 100%; }

.menu-accordion__title {
  text-transform: uppercase;
  position: absolute;
  font-family: 'gagalinregular';
  color: #ffffff;
  font-size: 39.81px;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg); }
