.contacts {
    // background-image: url("/img/content/contacts/mapspb.jpg");
    // background-repeat: no-repeat;
    // background-position: center center;
    // background-size: cover;
    // display: flex;
    // flex-direction: column;
}

.contacts__map {
    // flex: 1;
    // position: absolute;
    // top: 0;
    // bottom: 0;
    // left: 0;
    // right: 0;
}

.contacts__map {
	height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
}

.map__hint {
    padding: rem(10px);
    min-height: rem(25px);
    min-width: rem(125px);
    font-size: rem(16px);
	line-height: rem(25px);
	color: #ffffff;
    background-color: #f8c979;
	background-image: linear-gradient(to top, #ecc175 0%, #eb8c38 48%, #f9b43b 74%, #f9b43b 100%);
	border-radius: rem(5px);
}

.map__balloon {
	padding: rem(20px);
	font-size: rem(30px);
	line-height: 1;
	color: #ffffff;
	background-color: #f9b43b;
	background-image: linear-gradient(to top, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%, #f9b43b 100%);
	border-radius: rem(20px);
}

.map__burger-img {
	float: right;
	height: rem(100px);
	width: rem(100px);
}



footer {
    background-image: url("/img/content/contacts/footer_bg.jpg");
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    // height: rem(60px);
}

.contacts__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    @include phones {
        flex-direction: column;
        
    }
}

.footer__col {
    width: 50%;
    @include phones {
        width: 100%;
        
    }
}

.footer__col_left {
    // display: block;
    padding: rem(10px) 0;
    @include phones {
        text-align: center;
        
    }
}

.footer__col_right {
    display: inline-block;
    text-align: right;
    @include phones {
        text-align: center;
        margin-bottom: 2%;
        
    }
}

.contacts__adress {
    font-family: 'ubuntulight';
    font-style: normal;
    color: #ffffff;
    font-size: rem(14px);
    display: block;
    margin-bottom: rem(5px);
    
}

.contacts__phone_pic {
    margin-right: rem(7px);
}

.contacts__phone_title {
     font-family: 'ubuntubold';
    font-style: normal;
    color: #e45028;
    font-size: rem(14px);
    
}

.socials__item {
    display: inline-block;
    @include phones {
        &:first-child {margin-left: rem(-20px)};
    }
}

.socials__link {
    display: inline-block;
    margin-left: rem(20px);
    vertical-align: middle;
    width: rem(25px);
    height: rem(25px);
    
}

.socials__icon {
    fill: #595959;
    width: 100%;
    height: 100%;
    &:hover {
      fill: #ffffff;
    }
    &:first-child {
      margin-left: 0;
    }
  }