.form {
    background-image: url("/img/content/form/form_bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    // display: flex;
    // justify-content: center;
    // align-items: center;
}