.menu {
    background-image: url("/img/content/menu/menu_bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    // display: flex;
    // justify-content: center;
    // align-items: center;
}



.menu-accordion__list {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    // align-items: flex-end;
    
}

.menu-accordion__item {
    display: flex;
    
    width: 10%;
    height: 100%;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    transition: 1.5s;
    &:hover {
        width: 40%;
        transition: 1s;
    }
}


.menu-accordion__img {
//     width: 100%;
     height: 100%;
}

.menu-accordion__title {
    text-transform: uppercase;
    position: absolute;
    // display: flex;
    // flex-direction: column-reverse;
    // justify-content: center;
    // align-items: flex-end;
    font-family: 'gagalinregular';
    color: #ffffff;
    font-size: 39.81px;
    top: 50%;
    transform: rotate(-90deg);
    left: -110px;
    // position: absolute;
}