.team {
    background-image: url("/img/content/team/team_bg.jpg");
    background-repeat: no-repeat;
    // background-position: center center;
    background-size: cover;
    // display: flex;
    // justify-content: center;
    // align-items: center;
}


