.team {
    background-image: url("/img/content/team/team_bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    // display: flex;
    // justify-content: center;
    // align-items: center;
}


.team__content {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 50%;
    background: rgba(#2f3234, .93);
    padding: 5% 2% 0 7%;
    display: flex;
    flex-direction: column;

    @include tablets {
      width: 100%;
      padding: 0;
    }
}
  

.main-title_team {
    margin-bottom: 5rem;
    @include phones {
      font-size: rem(50px);
  }  
}


  .team__item {
    margin-bottom: rem(20px);
}


.team__trigger {
    color: #fff;
    display: inline-flex;
    align-items: center;
    text-transform: uppercase;
    font-family: 'gagalinregular';
    font-size: rem(14px);
    margin-bottom: rem(15px);

  
    &:before {
      content: "";
      height: 0;
      width: 0;
      border: rem(6px) solid transparent;
      border-top-color: $yellow;
      border-bottom-width: rem(0px);
      transform: rotate(0deg);
      transition: .3s;
  
    }

    @include tablets {
      font-size: rem(24px);
   }
   @include phones {
      font-size: rem(24px);
  }  

}
  
.team__block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @include phones {
      padding-left: 10%;
      padding-right: 10%;
  }  
  }

.team__pic {
    width: 30%;
    text-align: center;
    @include tablets {
      width: 100%;
    }

  }
  
.team__pic-img {
    width: rem(100px);
    height: rem(100px);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 50%;
}
  
.team__text {
    color: #fff;
    margin-left: 3%;
}
  
.team__text-title {
    font-family: 'ubuntubold';
    font-size: rem(14px);
    color: #fff;
    margin-bottom: rem(14px);
 }
  
.team__text-desc {
    font-family: 'ubuntulight';
    color: #fff;
    font-size: rem(14px);
}



.team__block-none {
    height: 0;
    overflow: hidden;
    transition: 0.5s;

    // display: none;

 }
  
.team__item_active {
    .team__trigger {
      color: $yellow;
  
      &:before {
        transform: rotate(-180deg);
        transition: .3s;
        
        
      }
    }
  
    .team__block {
      display: flex;
      
      @include tablets {
        display: block;
      }
    }
}


.team__content {
    @include tablets {
    text-align: center;
}
}
