.welcome {
    background-image: url("/img/content/welcome/video-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}



.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: rem(10px);
}

.header__logo {
    margin-right: auto;

}

.header__menu {
    @include tablets {
        display: none;
    }
}

.nav {
    margin-right: rem(15px);
}

.nav__list {
    margin: 0;
    padding: 0;
}

.nav__item {
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    &:after {
        display: inline-block;
        vertical-align: middle;
        content: '';
        @include circle(rem(5px), #ffffff);
        margin: 0 rem(12px);
    }
    &:last-child:after {
        display: none;
    }
}

.nav__link {
    font-family: 'ubuntumedium';
    color: #ffffff;
    font-size: rem(13px);
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    transition: .5s;
        &:hover {
            text-decoration: underline;
        }
}

.header__links {
    display: flex;
    flex-direction: row;
    align-items: center;
}

// .header__links {
//     display: inline-block;
 
// }


.hamburger-menu-link {
    // display: inline-block;
	vertical-align: middle;
	position: relative;
	height: rem(22px);
	align-items: center;
	margin-left: rem(30px);
  display: none;

      @include tablets {
         display: flex;
  }
}

.hamburger-menu-link__bars {
	&, &:before, &:after {
		background: #fff;
		width: rem(24px);
		height: rem(5px);
        border-radius: rem(3px);
	}

	&:before, &:after {
		content: "";
		display: block;
		position: absolute;
	}

	&:before {
        top: 0px;
        
	}

	&:after {
		bottom: 0;
	}
}

.welcome__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // flex: 1;
}

.welcome__content {
    // width: 100%;
    display: flex;
    // flex-wrap: wrap;
    flex-grow: 1;
    align-items: center;
    padding-bottom: 15%;
        @include tablets {
            flex-direction: column;
            // padding: rem(151px);
        }

}

.welcome__main-foto-pic {
    max-width: 100%;
    max-height: 100%;
}

.welcome__main-foto, .welcome__title {
    flex-basis: 50%;
    display: flex;
    height: rem(400px);
    @include tablets {
       height: rem(380px);
    }
    @include phones {
        height: rem(300px);
      }  
}

.welcome__title {
    flex-direction: column;
    justify-content: center;
    @include tablets {
     
        text-align: center;
    }
}

.main-title_welcome {
    padding-top: rem(60px);
    @include tablets {
        padding-top: 0;
    }
    @include iphones {
        font-size: rem(53px);
      }  
    
}

.welcome__sub-title {
    font-family: 'lifehackmedium';
    color: #ffffff;
    font-size: rem(65px);
    // width: rem(410px);
    line-height: 1;
    @include tablets {
        padding-left: 5%;
        padding-right: 5%;
    }
    @include iphones {
        font-size: rem(43px);
      }  
}


.transition-link {
    position: absolute;
    bottom: rem(40px);
}

.transition-link__icon {
    width: rem(30px);
    height: rem(15px);
    fill: #fff;
}


